<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BanqueServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9191/" binding="basicHttpBinding"
                bindingConfiguration="BanqueServicePortBinding" contract="ServiceReference1.BanqueService"
                name="BanqueServicePort" />
        </client>
    </system.serviceModel>
</configuration>